/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/dataSources/c59960ab-48f1-4432-854e-58316424554b.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/c59960ab-48f1-4432-854e-58316424554b/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_04_12_2020_14_01_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_04_12_2020_14_01__Default_Changelist_.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_04_12_2020_14_01_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_04_12_2020_14_01_[Default_Changelist]/shelved.patch
